/* Style inputs with type="text", select elements and textareas */
input[type=text], select, textarea {
  width: calc(100% - 24px); /* Tam genişlik */
  padding: 12px; /* Bir miktar dolgu */ 
  border: 1px solid #ccc; /* Gri kenarlık */
  border-radius: 2px; /* Yuvarlatılmış kenarlar */
  box-sizing: border-box; /* Dolgu ve genişliğin yerinde kalmasını sağlar */
  margin-top: 3px; /* Üst boşluk ekleyin */
  margin-bottom: 8px; /* Alt boşluk */
  resize: vertical; /* Kullanıcının metin kutusunu dikey olarak yeniden boyutlandırmasına izin ver (yatay olarak değil) */
}

/* Stili özel bir arka plan rengiyle sunulan giriş düğmesi */
input[type=submit], .container a {
  background-color: #585081; /* Arkaplan rengi */
  color: white; /* Yazı rengi */
  padding: 12px 20px; /* Dolgu */
  border: none; /* Kenarlık yok */
  border-radius: 4px; /* Yuvarlatılmış köşeler */
  cursor: pointer; /* İmleci el işareti yap */
  display: inline-block; /* Dolguyu ve kenarlığı dikkate al */
  margin: 8px auto; /* Düğmeyi merkezlemek için */
}

/* Fareyi gönder düğmesinin üzerine getirildiğinde, daha koyu bir yeşil renk ekleyin */
input[type=submit]:hover, .container a:hover {
  background-color: #90a3ce; /* Arkaplan rengi */
}

/* Form etrafına arka plan rengi ve biraz dolgu ekleyin */
.container {
  border-radius: 5px; /* Yuvarlatılmış köşeler */
  background-color: #f2f2f2; /* Arkaplan rengi */
  padding: 20px; /* Dolgu */
  text-align: center; /* İçeriği ortala */
}

/* Tablo içeriğini ortala */
table {
  width: 100%; /* Tam genişlik */
  border-collapse: collapse; /* Kenarlık çizgilerini birleştir */
  margin: 0 auto; /* Tabloyu ortala */
}

th, td {
  padding: 8px; /* Hücre dolgusu */
  border: 1px solid #ddd; /* Kenarlık */
  text-align: left; /* Metni sola hizala */
}

/* "Your name" alanını küçült ve ortala */
input[type=text] {
  font-size: 14px; /* Yazı tipi boyutunu küçült */
  text-align: center; /* Metni ortala */
}
